{% extends 'base.html' %}
{% load static %}

{% block page_content %}

<div class="site-section" id="what-we-do-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6 section-title">
        <h2 class="title text-primary">My Projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto">
        <div class="row">
          {% for project in projects %}
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="service h-100">
              <img class="card-img-top" src="{% static project.image %}">
              <p></p>
              <h3>{{project.heading}}</h3>
              <p>{{project.short_description}}</p>
              <p><a href="{% url 'project_detail' project.pk %}" class="readmore">Learn more</a></p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}