{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<div class="site-section" id="about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5">
        <img src="{% static project.image %}" alt="Project Image" class="img-fluid">
      </div>
      <div class="col-lg-5 ml-auto section-title">
        <span class="sub-title mb-2 d-block">About the project</span>
        <h2 class="title text-primary mb-3">{{project.heading}}</h2>
        <p class="mb-4">{{ project.long_description }}</p>
        <span class="sub-title mb-2 d-block">Technologies Used</span>
        <p class="mb-4">{{ project.technology }}</p>
        {% if project.url %}
          <p><a href="{{ project.url }}" class="readmore"> <span>Click Here</span></a></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}